---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.search input {
    height: 30px;
    width: 60%;
    padding-left: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    font-size: 16px;
}
